### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#list on plays informatio
players_info = purchase_data.loc[:,["SN", "Age", "Gender"]]

#drop the duplicated row
players_info = players_info.drop_duplicates()
#total number of players
total_players = players_info.count()[0]

pd.DataFrame({"Total Players": [total_players]})

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#calculate number of unique items. average purchase price, total number of purchases and total revenue 
Number_of_Unique_Items = len((purchase_data["Item ID"]).unique())
Average_Purchase_Price = (purchase_data["Price"]).mean()
Total_Number_of_Purchases = (purchase_data["Purchase ID"]).count()
Total_Revenue = (purchase_data["Price"]).sum()

#create a summary table
table_df = pd.DataFrame({"Number of Unique Items":[Number_of_Unique_Items], 
                         "Average Price":[Average_Purchase_Price], 
                         "Number of Purchases":[Total_Number_of_Purchases], 
                         "Total Revenue":[Total_Revenue]})

#Format data with proper style
table_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Group by Gender
gender_info = purchase_data.groupby("Gender")

# total number of gender by SN
total_number_gender = gender_info.nunique()["SN"]

# Percentage of players
percentage_of_players = total_number_gender / total_players * 100

# Create data frame for percetage and total count
gender_demographics = pd.DataFrame({"Total Count": total_number_gender, 
                                    "Percentage of Players": percentage_of_players})

# clean index name
gender_demographics.index.name = None

# format to descending order, 2 decimals point and add percentage sign
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#number of purchase by gender 
purchase_count = gender_info["Purchase ID"].count()

# Average purchase prices by gender
avg_purchase_price = gender_info["Price"].mean()

# Average total purchase by gender 
avg_total_purchase = gender_info["Price"].sum()

# average total purchase divided by total number of gender
avg_purchase_per_person = avg_total_purchase/total_number_gender

# Create data frame with obtained values 
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_total_purchase,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

# add "gender as title"
gender_demographics.index.name = "Gender"

# add dollar sign to price and average purchage
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 100]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# sort age data into bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=group_names)
purchase_data

# new data frame for age group
age_group = purchase_data.groupby("Age Group")

# number of total players by different age group
age_total_count = age_group["SN"].nunique()

# percentage of different age group 
age_percentage = (age_total_count/total_players) * 100

# data frame for total count and percentage of players
age_demographics = pd.DataFrame({"Total Count": age_total_count, "Percentage of Players": age_percentage})

# format index name
age_demographics.index.name = None

# Format data with percentage and 2 decimals point
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# number of purchase by age
purchase_count_age = age_group["Purchase ID"].count()

# average purchase price in different age group
avg_purchase_price_age = age_group["Price"].mean()

# total purchase value in different age group 
total_purchase_value = age_group["Price"].sum()

# average purchase per person 
avg_purchase_per_person_age = total_purchase_value/age_total_count

# dataframe for different value
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

# add "Age Ranges" as title
age_demographics.index.name = "Age Ranges"

# add currency format to data
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# group screen name info
spender_info = purchase_data.groupby("SN")

# total purchase by name
purchase_count = spender_info["Purchase ID"].count()

# average purchase by name 
avg_purchase_price = spender_info["Price"].mean()

# Calculate purchase total 
purchase_total = spender_info["Price"].sum()

# data frame for top spenders
top_spenders = pd.DataFrame({"Purchase Count": purchase_count,
                             "Average Purchase Price": avg_purchase_price,
                             "Total Purchase Value":purchase_total})

# descending order for total purchase value
format_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# add currency format to data
format_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Retrieve the Item ID, Item Name, and Item Price columns
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group by item ID and item Name
item_info = items.groupby(["Item ID","Item Name"])

# calculate for purchase count
purchase_count = item_info["Price"].count()

# calculate total purchase value
purchase_value = (item_info["Price"].sum())

# calculate item price
item_price = purchase_value/purchase_count 

# summary data frame to hold the results
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

#Sort the purchase count column in descending order
popular_format = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# add currency format to data
popular_format.style.format({"Item Price":"${:,.2f}",
                             "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# Sort the above table by total purchase value in descending order
popular_format = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

# add currency format to data
popular_format.style.format({"Item Price":"${:,.2f}",
                             "Total Purchase Value":"${:,.2f}"})